:root {
  background-color: #FEE333;
  --margin-inner-container: 20px;
  --margin-caption: 20px;
  --font-size-header: 30px;
  --font-size-artist-name: 36px;
  --font-size-artist-bio: 20px;
  --font-weight-artist: 500;
  --font-size-caption: 18px;
  --details-hover-color: #FEE333;
  --height-header: 80px;
  --font-family: 'Inter', Helvetica, Arial, sans-serif;
}

.innerContainer {
  background-color: white;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  margin: 20px;
  padding: 0 20px 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;

  font-weight: 400;
}

.innerContainer--artworkSection {
    display: flex;
    justify-content: space-evenly;
    margin: var(--margin-inner-container);
    height: 100%;
    max-height: calc(100% - var(--height-header));
    overflow: hidden;
}

/* nav */

.navStyle__container button {
  border: none;
  background-color: white;
  color: lightgray;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.navStyle__container button:hover {
  color: #FEE333;
  color: black;
  cursor: pointer;
}

button.activeMuseumButton {
  color: black;
}

/* artwork cataloging */

.innerContainer--headerSection {
  padding: 0px;
  padding-left: var(--margin-inner-container);
  padding-right: var(--margin-inner-container);

  font-size: 30px;
  font-family: var(--font-family);
  height: var(--height-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerContainer--headerSection p {
  padding: 18px 0 10px 0;
  margin: 0;
  vertical-align: center;
}

#captionContainer--artistName {
  font-size: var(--font-size-artist-name);
  font-weight: var(--font-weight-artist);
  text-transform: uppercase;
}

#captionContainer--artistBio {
  font-size: var(--font-size-artist-bio);
  margin: 4px 0 0px 0;
  font-weight: var(--font-weight-artist);
  text-transform: uppercase;
}

/* .containerLeft {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F5F9;
} */

.containerRight {
  /* background-color: white;
  align-items: left;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  height: 100%;
  margin-left: 20;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px; */

  box-sizing: border-box;
  padding-left: 20px;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.captionArtistContainer {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.captionArtistContainer p, h1 {
  margin: 0;
  padding: 0;
}

.captionContainer {
  width: 100%;
  font-family: var(--font-family);
  overflow: scroll;
  margin: 40px 0 44px;
  flex-grow: 4;
  flex-shrink: 4;
}

.artworkContainer {
  display: flex;
  height: 100%;
  flex-direction: row;
  width: 100%;

  display: flex;
    justify-content: space-evenly;
    /* margin: var(--margin-inner-container); */
    height: 100%;
    max-height: calc(100% - var(--height-header));
    overflow: hidden;
}

#captionMore {
  color: #000;
  font-size: calc(var(--font-size-caption) + 0px);
  line-height: 34px;
}

#captionMore:hover {
  color: var(--details-hover-color);
}

/* image container */

.imageContainer {
  align-items: center;
  background-color: #F8F5F9;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


 
.imageContainer img {
  max-width: 100%;
}

.imageContainer img:hover {
  cursor: pointer;
}

/* cataloging table */

.captionTable {
  overflow: scroll;
  flex-grow: 1;
  flex-shrink: 4;
}

td {
  vertical-align: top;
  font-size: var(--font-size-caption);
}

#tableLeftColumn {
  padding-right: 120px;
}

/* get artwork button */

.getArtworkButtonContainer {
  width: 100%;
}

.getArtworkButton {
  background-color: black;
  border: 2px solid black;
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  padding: 20px 0;
  margin-bottom: var(--margin-caption);
  text-transform: uppercase;
  width: 100%;
}

.getArtworkButton:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

/* send email button */

#sendEmailLink {
  margin: 0;
}

#sendEmailLink a {
  color: black;
}

#emailLink {
  white-space: pre-wrap;
  margin: 0;
}

#emailLink:hover {
  color: var(--details-hover-color);
}

/* modal */

.modal {
  align-items: center;
  /* background-color: #FEE333; */
  background-color: rgba(254, 227, 51, 0.97);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.modal__text {
  align-items: center;
  background-color: #F8F4F3;
  border: 3px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  padding: 20px;
  text-align: center;
  width: 600px;
}

.modal__text h1 {
  font-size: 56px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.modal__text p {
  font-size: 24px;
  padding: 12px 0;
  margin: 0;
}

.modal__text button {
  background-color: black;
  border: 2px solid black;
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  padding: 20px 0;
  margin-top: 20px;
  text-transform: uppercase;
  width: 100%;
}

.modal__text button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

/* image modal */

.imageModalContainer {
  align-items: center;
  /* background-color: rgba(254, 227, 51, 0.95); */
  background-color: rgba(19, 19, 17, 0.97);
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  height: 100%;
  justify-content: center;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.imageModalContainer:hover {
  cursor: pointer
}

.imageModalContainer img#closeIcon {
  height: 30px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 1;
}

.imageModal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  object-fit: contain;
  margin: 0;
  width: 100%;
}

.imageModal img {
  max-height: 100%;
  max-width: 100%;
}