:root {
  background-color: #FEE333;
  --font-size-artist-name: 36px;
  --font-size-artist-bio: 20px;
  --font-weight-artist: 500;
  --font-size-caption: 18px;
}

.innerContainer {
  background-color: white;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  margin: 20px;
  padding: 0 20px 20px;
  width: calc(100% - 40px);

  display: flex;
  flex-direction: column;
  
}


.artworkContainer {
  display: flex;
  height: 100%;
  flex-direction: row;
  width: 100%;
}

.imageContainer img {
  width: 100%;
}